#main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profile-card {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

@media (max-width: 640px) {
    #profile-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

#profile-card img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    border-radius: 100px;
    border: 1px solid black;
    margin-right: 20px;
}

@media (max-width: 640px) {
    #profile-card-description {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #profile-card-description * {
        margin: 0;
    }

    #profile-card-description h1 {
        margin-top: 30px;
        margin-bottom: 10px;
    }
}

#hobbies {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-bottom: 10px;
}

#hobbies div {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
}

@media (max-width: 640px) {
    #hobbies {
        width: 75%;
        display: block;
    }

    #hobbies div {
        margin-bottom: 10px;
    }
}