/* define custom font */
@font-face {
    font-family: 'XDPrime';
    src: url('../assets/fonts/XDPrime-Regular.otf')
}

* {
    font-family: 'XDPrime';
}

body {
    margin: 0;
}

button {
    all: unset;
}

button:hover {
    cursor: pointer;
}

.black-button {
    background-color: black;
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
    transition: background-color 0.1s ease-in;
}

.black-button:hover {
    background-color: rgb(37, 37, 37);
    transition: background-color 0.1s ease-in;
}

.black-button p {
    color: white;
}

.white-button {
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
    transition: background-color 0.1s ease-in;
}

.white-button:hover {
    background-color: rgb(226, 226, 226);
    transition: background-color 0.1s ease-in;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 75px;
    padding-right: 75px;
    border-bottom: 1px solid black;
}

@media (max-width: 640px) {
    #header {
        padding-left: 30px;
        padding-right: 30px;
    }
}

.navigation-button {
    height: 50px;
    width: 100px;
}

#footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
}

#footer .footer-category {
    margin-top: 10px;
}

#footer * {
    margin: 0;
}

#copyright {
    margin-top: 30px;
}