#main {
    padding: 30px;
}

input {
    margin-bottom: 10px;
    height: 40px;
    width: 80%;
    max-width: 400px;
    padding: 10px;
}

#content {
    width: 80%;
    max-width: 750px;
    height: 250px;
    resize: none;
    margin-bottom: 10px;
    padding: 10px;
}