#main {
    width: 100%;
}

#hero {
    display: grid;
    grid-template-columns: 65% 35%;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid black;
}

#hero-content {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 75px;
    background-color: white;
}

@media (max-width: 640px) {
    #hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #hero-content {
        padding-left: 0;
        width: 90%;
    }
}

#hero-content h1 {
    font-size: 60px;
}

#tagline {
    font-size: 20px;
}
#hero img {
    width: 400px;
}

@media (max-width: 640px) {
    #hero img {
        display: none;
    }
}

#recommended {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#blog {
    transition: background-color 0.1s ease;
    width: 70%;
    max-width: 400px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
}

#blog:hover {
    background-color: rgb(226, 226, 226);
    transition: background-color 0.1s ease;
    cursor: pointer;
}