#main {
    display: grid;
    width: 100%;
    grid-template-columns: 60% 40%;
}

#hero {
    padding-left: 80px;
    padding-top: 100px;
    padding-bottom: 100px;
}

#hero h1 {
    font-size: 60px;
}

#tagline {
    font-size: 20px;
}

#start {
    background-color: black;
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
}

#start p {
    color: white;
}

#image-container {
    position: relative;
}

#image-container img {
    height: 95%;
    position: absolute;
    bottom: 0;
}

@media (max-width: 640px) {
    #image-container img {
        display: none;
    }
}