#main {
    display: grid;
    width: 100%;
}

@media (min-width: 640px) {
    #main {
        grid-template-columns: 60% 40%;
    }
}

#hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero {
    width: 85%;
    padding-top: 100px;
    padding-bottom: 100px;
}

#hero h1 {
    font-size: 60px;
}

#tagline {
    font-size: 20px;
}

#image-container {
    position: relative;
}

#image-container img {
    height: 95%;
    position: absolute;
    bottom: 0;
    right: 25px;
}

@media (max-width: 640px) {
    #image-container img {
        display: none;
    }
}